# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3
*.sql

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build Vue
frontend/dist/
frontend/node_modules/

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Compiled files
*.pyc
*.pyo
